@model QuizAdmin.Models.CaptionModel
@{
    ViewBag.Title = "AddQuiz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="/js/jquery.validate.min.js" type="text/javascript"></script>
<script src="/js/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
<link href="/Content/Css/fineuploader-3.7.0.min.css" rel="stylesheet" type="text/css" />
<script src="/js/jquery.fineuploader-3.7.0.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var count = 0;

        var PlayingDescriptionImgUploader = new qq.FineUploader({
            element: $('#PlayingDescriptionImgUploader')[0],
            action: '@Url.Action("/Home/upload")',
            type: "post",
            minSizeLimit: 0,
            autoUpload: true,
            text: {
                uploadButton: '<i class="icon-plus icon-white"></i> Select Files'
            },
            validation: {
                sizeLimit: 2000000 // 50 kB = 50 * 1024 bytes
            },
            callbacks: {
                onComplete: function (id, filename, responseJSON) {
                    console.log(responseJSON);
                    if (responseJSON.success == true) {
                        var response_show = responseJSON.filename;
                        $("#Url").val(responseJSON.filename);

                    } else {
                        alert("Error: " + responseJSON.message);
                    }
                }
            }
        });
    });
</script>
<header class="ribbon">
    <h2>&nbsp;</h2>
</header>
<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h2>Caption</h2>
                    </div>
                    <div class="panel-highlight-action">
                        <a href="/Home/Quiz">
                            <button class="btn btn-round btn-danger btn-lg">
                                <i class="fa fa-chevron-left"></i>
                            </button>
                        </a>
                    </div>
                    <div class="panel-body">
                        @using (Html.BeginForm())
                        {

                           
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Title<em>*</em></label>
                                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control required" } })
                                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Select Url</label>
                                    <div class="controls">
                                        <div id="PlayingDescriptionImgUploader">
                                        </div>
                                        @Html.HiddenFor(a => a.Url, new { @class = "form-control" })
                                        @if (Model != null && !string.IsNullOrEmpty(Model.Url))
                                        {
                                            <a href="@Model.Url" target="_blank">Download</a>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>

                            <div class="row">
                               
                            </div>

                            <button type="submit" class="btn btn-primary">Submit</button>
                        }

                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel-primary panel -->
            </div>
            <!-- /.col-md-7 -->
        </div>
    </div>
</div>

<script>
    addDatepicker();
</script>