@model IEnumerable<QuizAdmin.Models.QuizQuestion>

<!-- /.row -->
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h2>Quiz Question Master</h2>
            </div>
            <div class="panel-highlight-action">
                <a href="/Home/AddQuizQuestion">
                    <button class="btn btn-round btn-danger btn-lg">
                        <i class="fa fa-plus"></i>
                    </button>
                </a>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table datatable">
                        <thead>
                            <tr>
                                <th>
                                    Quiz Title
                                </th>
                                <th>
                                    Question
                                </th>
                                <th>
                                    Option1
                                </th>
                                <th>
                                    Option2
                                </th>
                                <th>
                                    Option3
                                </th>
                                <th>
                                    Option4
                                </th>
                                <th>
                                    Correct Answer
                                </th>
                                <th>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.QuizData.QuizTitle)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Question)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Option1)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Option2)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Option3)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Option4)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CorrectOption)
                                </td>
                                <td>
                                    <a href="/Home/AddQuizQuestion/@item.QuizQuestionID?mode=edit">
                                        <button class="btn btn-primary btn-round">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                    </a>
                                    <a href="/Home/DeleteQuizQuestion/@item.QuizQuestionID" onclick="return confirm('Do you want to Delete ?')">
                                        <button class="btn btn-danger btn-round">
                                            <i class="fa fa-times"></i>
                                        </button>
                                    </a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /.panel -->
        </div>
    </div>
</div>
<!-- /.row -->

<script type="text/javascript">
    $(document).ready(function () {
        $('table.datatable').dataTable();
    });
</script>
