@model IEnumerable<QuizAdmin.Models.QuizData>
<!-- /.row -->
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h2>Quiz Master</h2>
            </div>
            <div class="panel-highlight-action">
                <a href="/Home/AddQuiz">
                    <button class="btn btn-round btn-danger btn-lg">
                        <i class="fa fa-plus"></i>
                    </button>
                </a>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table datatable">
                        <thead>
                            <tr>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Quiz Start Date
                                </th>
                                <th>
                                    No Of Questions
                                </th>
                                <th>
                                    Max Point
                                </th>
                                <th>
                                    Min Point
                                </th>
                                <th>
                                    Win Precentage
                                </th>
                                <th>
                                    Actions
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.QuizTitle)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StartDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NoOfQuestion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MaxPoint)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MinPoint)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.WinPrecentage)
                                </td>
                                <td>
                                    <a href="/Home/AddQuiz/@item.QuizID?mode=edit">
                                        <button class="btn btn-primary btn-round">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                    </a>
                                    <a href="/Home/DeleteQuiz/@item.QuizID" onclick="return confirm('Do you want to Delete ?')">
                                        <button class="btn btn-danger btn-round">
                                            <i class="fa fa-times"></i>
                                        </button>
                                    </a>
                                    <a href="/Home/ActiveQuiz/@item.QuizID" onclick="return confirm('Do you want  @(item.isActive==true ?"De-Active":"Active") this Quiz ?')">
                                        <button class="btn btn-danger btn-round">
                                            @(item.isActive==true ? "De-Active":"Active")
                                        </button>
                                    </a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /.panel -->
        </div>
    </div>
</div>
<!-- /.row -->
<script src="~/js/QuizActive.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('table.datatable').dataTable();
    });
</script>