@model IEnumerable<QuizAdmin.Models.Output.TransactionModel>

<!-- /.row -->
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h2>Transaction Pending List</h2>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped- table-bordered table-hover table-checkable datatable productTable" id="kt_table_1">
                        <thead>
                            <tr>
                                <th>
                                    User Name
                                </th>
                                <th>
                                    Transaction Date Time
                                </th>
                                <th>
                                    Payment Status
                                </th>
                                <th>
                                    Amount
                                </th>
                                <th>
                                    Comment
                                </th>

                                <th>
                                    Mobile Number
                                </th>
                                <th>
                                    Converted Points
                                </th>
                                <th>
                                    Withdrawal Type
                                </th>
                                <th>
                                    Account Number
                                </th>
                                <th>
                                    Name in Account
                                </th>
                                <th>
                                    Bank
                                </th>
                                <th>
                                    IFSC Code
                                </th>
                                <th>
                                    Paytm Order Id
                                </th>
                                <th>
                                    Paytm Withdrawal Charges
                                </th>
                                <th>
                                    Paytm Response
                                </th>
                                <th>
                                    Confirm Withdrawal
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.username)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.transactionDateTime)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.paymentStatus)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.amount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.comment)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.mobilenumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ConvertedPoints)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.WithdrawType)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AccountNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NameInAccount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Bank)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IFSCCode)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PaytmOrderId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PaytmWithdrawCharges)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PaytmResponse)
                                    </td>
                                    <td>
                                        <a  href="/Home/ConfirmWithdrawal/@Convert.ToInt32(item.TransactionID)" onclick="return confirm('Do you want confirm withdrawal this transaction @item.TransactionID ?')">
                                            <button class="btn btn-success btn-round">
                                                <i class="fa fa-check-circle"></i>
                                            </button>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /.panel -->
        </div>
    </div>
</div>
<!-- /.row -->

<script type="text/javascript">
    $(document).ready(function () {
        $('table.datatable').dataTable();
    });
</script>


