@using QuizAdmin.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/vendor/loaders.css/loaders.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600%7CRubik:300,400,500%7CSource+Code+Pro" rel="stylesheet">
    <!--  Bootstrap -->
    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome Icon Fonts -->
    <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css">
    <!-- Include MDI Icon Fonts -->
    <link rel="stylesheet" href="/vendor/mdi/css/materialdesignicons.min.css">
    <!-- Open Iconic Icon Fonts -->
    <link href="/vendor/open-iconic/font/css/open-iconic-bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap Switch -->
    <link rel="stylesheet" href="/vendor/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css" />
    <!-- Chartist Charts base CSS -->
    <link rel="stylesheet" href="/vendor/chartist/dist/chartist.min.css">
    <!-- Toastr Popups -->
    <link rel="stylesheet" type="text/css" href="/vendor/toastr/toastr.min.css">
    <!-- Sweet Alert Popups -->
    <link rel="stylesheet" type="text/css" href="/vendor/sweetalert2/dist/sweetalert2.min.css">
    <!-- iCheck Checkboxes -->
    <link rel="stylesheet" href="/vendor/iCheck/skins/square/_all.css">
    <!-- Emphasize (Always Include Last)-->
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="">
    <div class="page-wrapper">
        <div class="page full-width">
            <div class="page-content">
                <div class="container-fluid">
                    <div class="fullpage-form-container">
                        <div class="panel panel-primary panel-form">
                            <div class="panel-heading" style="padding-top:2.5em; padding-bottom:2.5em">
                                <h2 class="align-center bold" style="font-weight:400">Admin Panel</h2>
                            </div>
                            <!-- /.panel-cover -->
                            <div class="panel-body">
                                @if (TempData["error"] != null)
                                {
                                    <div class="alert alert-danger alert-dissmissable" role="alert">
                                        @TempData["error"]
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times"></i></span></button>
                                    </div>
                                }

                                <h4 class="align-center form-heading">Login to Continue</h4>
                                <section id="loginForm">
                                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                                            <div class="col-md-10">
                                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group checkbox">
                                            <label for="form1-check" class="">
                                                @Html.CheckBoxFor(m => m.RememberMe, new { @class = "icheck" }) <span class="label-text">Keep me logged in</span>
                                            </label>
                                        </div>
                                        <input type="submit" value="Log in" class="btn btn-primary btn-block" />
                                        @*<p>
                                                @Html.ActionLink("Register as a new user", "Register")
                                            </p>*@
                                        @* Enable this once you have account confirmation enabled for password reset functionality
                                            <p>
                                                @Html.ActionLink("Forgot your password?", "ForgotPassword")
                                            </p>*@
                                    }
                                </section>
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel-primary panel -->
                    </div>
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /.page-content -->
        </div>
        <!-- /.page -->
    </div>
    <!-- /.page-wrapper -->
    <!-- jQuery -->
    <script src="/vendor/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Javascript -->
    <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Chartjs-->
    <script src="/vendor/chart.js/dist/Chart.min.js"></script>
    <!-- Easy Pie Chart-->
    <script src="/vendor/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js"></script>
    <!-- Bootstrap Switch-->
    <script src="/vendor/bootstrap-switch/dist/js/bootstrap-switch.min.js"></script>
    <!-- Color Variables -->
    <script src="/scripts/colors.min.js"></script>
    <!-- Collapsible Menu Plugin -->
    <script src="/scripts/collapsibleMenu.min.js"></script>
    <!-- Collapsible Sidebar Plugin -->
    <script src="/scripts/sidebar.js"></script>
    <!-- Panel Actions -->
    <script src="/scripts/panel.min.js"></script>
    <!-- Class Toggle Plugin -->
    <script src="/scripts/classtoggle.min.js"></script>
    <!-- Initialize Emphasize -->
    <script src="/scripts/init.js"></script>
    <!-- Chartist -->
    <script src="/vendor/chartist/dist/chartist.min.js"></script>
    <!-- jQuery SlimScroll -->
    <script src="/vendor/jquery-slimscroll/jquery.slimscroll.min.js" charset="utf-8"></script>
    <!-- Sweet Alert -->
    <script src="/vendor/sweetalert2/dist/sweetalert2.min.js"></script>
    <!-- Toastr -->
    <script src="/vendor/toastr/toastr.min.js"></script>
    <!-- Icheck Checkboxes -->
    <script src="/vendor/iCheck/icheck.min.js"></script>
</body>
</html>
